
$primary_color: #fff;
$secondary_color: #eeeeee;

$primary_accent_color: #E42E33;
$secondary_accesnt_color: #576475;


$main_bg_color: #000;
$nav_bg_color: #212121;
$content_bg_color: #fff;

$primary_font_color: #838383;
$secondaty_font_color: $primary_color;
$primary_title_color: $primary_accent_color;
$secondary_title_color: $primary_color;
$primary_link_color: $primary_accent_color;
$secondary_link_color: $secondary_accesnt_color;
